{
  "project_info": {
    "project_number": "PROJECT_NUMBER",
    "firebase_url": "FIREBASE_URL",
    "project_id": "PROJECT_ID",
    "storage_bucket": "STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "PACKAGE_NAME"
        }
      },
      "oauth_client": [
        {
          "client_id": "OAUTH_CLIENT_ID",
          "client_type": "CLIENT_TYPE"
        }
      ],
      "api_key": [
        {
          "current_key": "API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "OTHER_PLATFORM_OAUTH_CLIENT_ID",
              "client_type": "OTHER_PLATFORM_CLIENT_TYPE"
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
